[submodule "Python"]
	path = Python
	url = https://github.com/swordliongit/Python
[submodule "Cpp"]
	path = Cpp
	url = https://github.com/swordliongit/Cpp
[submodule "PlatformIO"]
	path = PlatformIO
	url = https://github.com/swordliongit/PlatformIO
